<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travel"
        tools:targetApi="31">
        <activity
            android:name=".PlanActivity"
            android:exported="false"
            />

<!--        <activity-->
<!--            android:name=".PlanActivity"-->
<!--            android:exported="true">-->
<!--                <intent-filter>-->
<!--                    <action android:name="android.intent.action.MAIN" />-->

<!--                    <category android:name="android.intent.category.LAUNCHER" />-->
<!--                </intent-filter>-->
<!--        </activity>-->

<!--        <activity-->
<!--            android:name=".DateRangeActivity"-->
<!--            android:exported="false" />`-->

                <activity
                    android:name=".DateRangeActivity"
                    android:exported="true">
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
                </activity>


        <activity
            android:name=".StartActivity"
            android:exported="false" />

<!--        test-->

<!--        <activity-->
<!--            android:name=".StartActivity"-->
<!--            android:exported="true"/>-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

<!--        </activity>-->


        <activity
            android:name=".PreferenceRecommendActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".TravelHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />

<!--        <activity-->
<!--            android:name=".SearchActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


        <activity
            android:name=".ItineraryActivity"
            android:exported="false" />

        <activity
            android:name=".CuisineActivity"
            android:exported="false" />
        <activity
            android:name=".DestinationActivity"
            android:exported="false" />
        <activity
            android:name=".CountryGuideActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionnaireActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>